body {
    font-family: 'museo_sans300', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.organizer {
    background-color: #FFFFFF;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.organizer .start {
    background-color: #00C2D4;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.organizer .start .content {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.organizer .start .content img {
    height: 4em;
    margin-bottom: 1em;
}

.organizer .start .content .logo {
    color: #FFFFFF;
    font-family: 'museo_sans900';
    font-size: 5.5em;
    letter-spacing: 0.13em;
    margin-bottom: 0.7em;
    text-indent: 0.13em;
    text-transform: uppercase;
}

.organizer .start .content .start-game {
    background-color: #F8CA61;
    border: none;
    border-radius: 0.4em;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.8em;
    letter-spacing: 0.05em;
    outline: none;
    padding: 0.6em 2.0em 0.6em 2.0em;
    position: relative;
    text-transform: uppercase;
}

.organizer .start .content .start-game:hover {
    background-color: #e6bb5a;
}

.organizer .start .content .start-game:active {
    background-color: #d6ae55;
}

.organizer .scoreboard .countdown {
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100vw;
}

.organizer .scoreboard .countdown span {
    background-color: #F8CA61;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: #FFFFFF;
    display: block;
    font-family: 'museo_sans500', sans-serif;
    font-size: 2.8em;
    letter-spacing: 0.01em;
    margin: -10px auto 0 auto;
    padding: 0.4em 0.8em 0.2em 0.8em;
    position: relative;
    text-indent: 0.01em;
    width: 150px;
}

.organizer .scoreboard .teams {
    height: 60vh;
    padding-top: 20vh;
    position: relative;
    text-align: center;
}

.organizer .scoreboard .teams .team {
    display: inline-block;
    font-family: 'museo_sans500', sans-serif;
    text-align: center;
    width: 250px;
}

.organizer .scoreboard .teams .team .name {
    display: block;
    font-size: 1.3em;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    text-transform: uppercase;
}

.organizer .scoreboard .teams .team img {
    display: block;
    margin: 15px auto 40px auto;
    width: 65%;
}

.organizer .scoreboard .teams .team .score {
    display: block;
    font-size: 5.5em;
}

.organizer .scoreboard .teams .team.turtles {
    color: #D44E4C;
}

.organizer .scoreboard .teams .team.frogs {
    color: #03B0C0
}

.organizer .scoreboard .teams .team.ducks {
    color: #E2B857
}

.organizer .results {
    background-color: #F9F2EA;
    height: 100vh;
    width: 100vw;
}

.organizer .results .countdown {
    display: block;
    text-align: center;
    width: 100vw;
}

.organizer .results .reset-game {
    background-color: #F8CA61;
    border: none;
    border-radius: 0.5em;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    margin-top: 2.5vh;
    outline: none;
    padding: 0.8em 1.8em 0.8em 1.8em;
    position: relative;
}

.organizer .results .reset-game:hover {
    background-color: #e6bb5a;
}

.organizer .results .reset-game:active {
    background-color: #d6ae55;
}

.organizer .results .teams {
    height: 70vh;
    position: relative;
    white-space: nowrap;
}

.organizer .results .teams .team.turtles {
    color: #D44E4C;
}

.organizer .results .teams .team.frogs {
    color: #03B0C0
}

.organizer .results .teams .team.ducks {
    color: #E2B857
}

.organizer .results .teams .team img {
    display: inline-block;
    height: 225px;
}

.organizer .results .teams .team .result {
    display: inline-block;
    font-family: 'museo_sans500', sans-serif;
    height: 225px;
    margin-left: 40px;
    vertical-align: top;
}

.organizer .results .teams .team .result .name {
    display: block;
    font-size: 3em;
    text-align: left;
    text-transform: uppercase;
}

.organizer .results .teams .team .result .score {
    display: block;
    font-size: 12em;
    text-align: left;
}

.organizer .results .teams .team.first {
    position: absolute;
    top: 15vh;
    width: 100vw;
    text-align: center;
}

.organizer .results .teams .team.second {
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: right;
    top: 55vh;
    transform: scale(0.5);
    width: 50vw;
}

.organizer .results .teams .team.third {
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: left;
    top: 55vh;
    transform: scale(0.5);
    width: 50vw;
}

.organizer .fade {
    transition: opacity 0.5s ease-out, height 0s 0s linear;
}

.organizer .hide {
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out, height 0s 0.5s linear;
}

.organizer .snap-to {
    transition: all 0s linear;
}