body {
    font-family: 'museo_sans100', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.splash {
    background-color: #00C2D4;
    display: block;
    height: 100vh;
    opacity: 1;
    position: absolute;
    transition: opacity 0.25s 0.2s ease-out, height 0s 0s linear;
    width: 100vw;
    z-index: 100;
}

.splash .holder {
    display: block;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.splash .holder img {
    height: 8em;
    margin-bottom: 2em;
}

.splash .holder span {
    color: #FFFFFF;
    display: block;
    font-family: 'museo_sans900', sans-serif;
    font-size: 7em;
    letter-spacing: 0.4em;
    position: relative;
    text-indent: 0.4em;
    text-transform: uppercase;
}

.splash .holder button {
    background-color: #F8CA61;
    border: none;
    border-radius: 0.4em;
    color: #FFFFFF;
    font-family: 'museo_sans500', sans-serif;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    margin-top: 2em;
    outline: none;
    padding: 0.7em 3.5em 0.7em 3.5em;
    position: relative;
    text-indent: 0.1em;
    text-transform: uppercase;
    z-index: 100;
}

.splash .holder button:hover {
    background-color: #e6bb5a;
}

.splash .holder button:active {
    background-color: #d6ae55;
}

.splash.hide {
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-out, height 0s 0.5s linear;
}

.splash.hide .holder {
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.pick .message {
    background-color: #E8E8E8;
    height: 10vh;
    width: 100vw;
}

.pick .message span {
    color: #4C4C4C;
    display: block;
    font-family: 'museo_sans500', sans-serif;
    font-size: 3em;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.pick .button {
    cursor: pointer;
    height: 30vh;
    position: relative;
    text-align: center;
    transition: background-color 0.1s ease-out;
    width: 100vw;
    z-index: 100;
}

.pick .button .holder {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.pick .button .holder .team-name {
    color: #FFFFFF;
    font-family: 'museo_sans500', sans-serif;
    text-transform: uppercase;
}

.pick .button .holder .team-name.above {
    display: block;
    font-size: 5em;
    height: 0;
    letter-spacing: 0.2em;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-indent: 0.2em;
    top: -4.3em;
    width: 100vw;
}

.pick .button .holder .team-name.below {
    display: block;
    font-size: 3em;
    letter-spacing: 0.2em;
    padding-top: 0.8em;
    position: relative;
    text-indent: 0.2em;
}

.pick .button .holder .get-ready {
    color: #FFFFFF;
    display: block;
    font-family: 'museo_sans300', sans-serif;
    font-size: 3em;
    height: 0;
    letter-spacing: 0.2em;
    opacity: 0;
    position: relative;
    text-align: center;
    text-indent: 0.2em;
    top: 6em;
    width: 100vw;
}

.pick .button .holder .wave {
    background: url(../images/wave.svg) repeat-x;
    background-position-x: 0;
    height: 0;
    margin: 0 auto;
    opacity: 0;
    position: relative;
    top: 26em;
    transform: scale(2.5);
    width: 20vw;
}

.pick .button.turtles {
    background-color: rgb(243, 102, 100);
}

.pick .button.ducks {
    background-color: rgb(248, 202, 97);
}

.pick .button.frogs {
    background-color: rgb(0, 194, 209);
}

.pick.waiting .message,
.pick.waiting .button {
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-out, height 0.3s 0.3s ease-out;
}

.pick.waiting.snap .message,
.pick.waiting.snap .button {
    transition: none;
}

.pick .button.selected {
    height: 100vh;
    opacity: 1;
    transition: height 0.3s 0.3s ease-out;
}

.pick .button.selected .holder .team-name.above {
    height: auto;
    opacity: 1;
    transition: opacity 0.3s 0.3s ease-out;
}

.pick .button.selected .holder img {
    transform: scale(2.3);
    transition: transform 0.3s 0.3s ease-out;
}

.pick .button.selected .holder .team-name.below {
    opacity: 0;
    padding-top: 0;
    transition: opacity 0.2s 0.1s ease-out, padding-top 0s 0.3s ease-out;
}

.pick .button.selected .holder .get-ready {
    height: 1em;
    opacity: 1;
    transition: opacity 0.3s 0.3s ease-out, height 0.3s 0.3s ease-out;
}

.pick .button.selected .holder .wave {
    -webkit-animation: 2.5s linear 0s infinite normal wave;
    -moz-animation: 2.5s linear 0s infinite normal wave;
    -o-animation: 2.5s linear 0s infinite normal wave;
    animation: 2.5s linear 0s infinite normal wave;
    height: 1em;
    opacity: 1;
    transition: opacity 0.2s 0.5s ease-out, height 0.3s 0.3s ease-out;
}

.pick .button.selected.snap {
    transition: none;
}

.pick .button.selected.snap .holder .team-name.above {
    transition: none;
}

.pick .button.selected.snap .holder img {
    transition: none;
}

.pick .button.selected.snap .holder .team-name.below {
    transition: none;
}

.pick .button.selected.snap .holder .get-ready {
    transition: none;
}

.pick .button.selected.snap .holder .wave {
    transition: none;
}

@-webkit-keyframes wave { from { background-position-x: 0; } to { background-position-x: 20vw; }  }
@-moz-keyframes wave { from { background-position-x: 0; } to { background-position-x: 20vw; }  }
@-o-keyframes wave { from { background-position-x: 0; } to { background-position-x: 20vw; }  }
@keyframes wave { from { background-position-x: 0; } to { background-position-x: 20vw; }  }

.pick.hide {
    height: 0;
    opacity: 0;
}

.play {
    background-color: #00C2D4;
    display: block;
    height: 100vh;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    transition: opacity 0.5s ease-out, height 0s 0s linear;
    width: 100vw;
    z-index: 100;
}

.play .target {
    border: 4px solid #FFFFFF;
    border-radius: 50%;
}

.play .target.one-point {
    padding: 3vh;
    position: absolute;
}

.play .target.one-point.position-one {
    left: 29vw;
    top: 5vh;
}

.play .target.two-point {
    padding: 3vh;
}

.play .target.three-point {
    height: 12vh;
    width: 12vh;
}

.play .target.too-close {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.play .lillypad {
    height: auto;
    left: 5vw;
    position: absolute;
    top: 45vh;
    width: 25vw;
}

.play .koi {
    height: auto;
    position: absolute;
    right: 9vw;
    top: 67vh;
    width: 15vw;
}

.play .dock {
    bottom: 0;
    height: auto;
    left: 20vw;
    position: absolute;
    width: 60vw;
}

.play.hide {
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out, height 0s 0.25s linear;
}

.play.hide img {
    height: 0;
    width: 0;
}

.play .stone {
    background: url("../images/stone.svg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    bottom: 10vh;
    box-shadow: inset 0 0 0 #00c2d4;
    color: #FFFFFF;
    left: 35vw;
    height: 5vh;
    position: absolute;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: all 0s ease-out, opacity 0.2s ease-out;
    vertical-align: middle;
    width: 5vh;
}

.play .stone .wave {
    border: 2px solid transparent;
    border-radius: 50%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    transition: all 0s ease-out;
    width: 100%;
}

.play .stone.sink {
    box-shadow: inset 0 0 10vw #00c2d4;
    opacity: 0;
    pointer-events: none;
    transition: box-shadow 0.5s linear, opacity 0.7s 0.3s ease-out;
}

.play .stone.one::after {
    color: #FFFFFF;
    content: "+1";
    font-size: 3.3em;
    font-family: 'museo_sans700', sans-serif;
    left: 0.1em;
    position: absolute;
    top: 0.2em;
    z-index: 5;
}

.play .stone.two::after {
    color: #FFFFFF;
    content: "+2";
    font-size: 3.3em;
    font-family: 'museo_sans700', sans-serif;
    left: 0.1em;
    position: absolute;
    top: 0.2em;
    z-index: 5;
}

.play .stone.three::after {
    color: #FFFFFF;
    content: "+3";
    font-size: 3.3em;
    font-family: 'museo_sans700', sans-serif;
    left: 0.1em;
    position: absolute;
    top: 0.2em;
    z-index: 5;
}

.play .stone.sink .wave {
    border-color: #FFFFFF;
    height: 200%;
    border-radius: 50%;
    width: 200%;
    margin-left: -52%;
    margin-top: -52%;
    transition: all 1s ease-out;
}

.winner {
    display: block;
    height: 100vh;
    opacity: 1;
    position: absolute;
    transition: opacity 0.25s 0.2s ease-out, height 0s 0s linear;
    width: 100vw;
}

.winner.turtles {
    background-color: rgb(243, 102, 100);
}

.winner.ducks {
    background-color: rgb(248, 202, 97);
}

.winner.frogs {
    background-color: rgb(0, 194, 209);
}

.winner .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.winner .content .message {
    color: #FFFFFF;
    display: block;
    font-family: 'museo_sans300', sans-serif;
    font-size: 6em;
    letter-spacing: 0.1em;
    text-align: center;
    text-indent: 0.1em;
    text-transform: uppercase;
}

.winner .content img {
    transform: scale(0.8);
}

.winner.hide {
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out, height 0s 0.25s linear;
}

.loser {
    background-color: #F9F2EA;
    display: block;
    height: 100vh;
    opacity: 1;
    position: absolute;
    transition: opacity 0.25s 0.2s ease-out, height 0s 0s linear;
    width: 100vw;
}

.loser .content {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.loser .content .game-over {
    color: #D04C4A;
    display: block;
    font-family: 'museo_sans900', sans-serif;
    font-size: 9em;
    letter-spacing: 0.2em;
    line-height: 1;
    padding-left: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.loser .content .message {
    color: #55C0D7;
    display: block;
    font-family: 'museo_sans500', sans-serif;
    font-size: 3.5em;
    letter-spacing: 0.01em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0.01em;
}

.loser.hide {
    height: 0;
    opacity: 0;
    transition: opacity 0.25s ease-out, height 0s 0.25s linear;
}
